
body {
	background-color: #444;
	margin: 0 auto; 
	text-decoration: #333;
	width: 750px;
	font-family: 'Calibri', sans-serif;
}

#contentBackground {
	top: 0;
	background-color: #FFF8FA;
	box-shadow: 15px 15px 15px #333;
}

.box {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom:20px;
}

figure {
	padding-top: 200px;
	text-align: center;
  	margin: 0 auto; 
  	margin-top: 30px;
  	margin-bottom:20px;
}

#reviewBox {
	width: 500px;
}

#content {
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#nav {

	width: 700px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	background: linear-gradient(#FF85AD, #FF6699);
	z-index: 1;
	top: 250px;

}

#nav ul {
	padding-left: 10%;
}

#nav ul ul {
	padding: 0;
}

#search {
	padding-top: 2%;
	padding-left: 8%;
}

#header {

}

#headerImage {
	width: 500px;
	height: 220px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

input {
  height: 25px;
  border-radius: 15px;
  padding-left: 10px;
  border-style: none;
  color: #676767;
}

input:focus {
	border: none;
	outline: none;
}

  ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;float: left;}
  li ul {display: none;}
  ul li a {display: block; padding: 13px 25px 13px 25px; font-size: 20px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background:  #FF85AD;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background:  #FF85AD;}
  li:hover li a:hover {background:  #FF9FC5;}
