/* Defines the size of the body (where the content will be located), general font-style and background color for the body*/
body {
  width: 700px;
  margin: 0 auto; 
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  }

/*Makes the header scroll with the page*/
.header-cont {
    width:100%;
    position:fixed;
    background-color:#f0f0f0;
    top:0px;
}

.header {
    height:50px;
    background-color:#f0f0f0;
    width: 700px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}

/*To properly separate header from content*/
.content {
  padding-top: 100px;
}
 
/* This will be the area where the text is located on the site when written inside sections*/  
figure {
  text-align: center;
  margin: 0 auto; 
  margin-top: 30px;
  margin-bottom:20px;
 }

/* This is the area around the figure, and creates a box shape around the text*/ 

section {
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 8px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom:20px;
}

/*Styles in the form of color for the most used headers. h1 is darker than the rest to stand out more.*/
h1 {
  color: #666;
}

h2, h3, h4, h5 {
  color: #7bc043;
}

/*Formatting of how the lists will look like inside a section*/
section>ol>li {
    margin-bottom: 20px;
}

.title{
    display: block;  
    margin-bottom: 10px;
}

footer {
  padding-bottom: 20px;
}