
/*-----------------------TAGS--------------------------------------------*/
body {
	background-color: #444;
	margin: 0 auto; 
	color: #333;
	width: 750px;
	font-family: 'Calibri', sans-serif;
}

input {
	height: 25px;
	border-radius: 15px;
	padding-left: 10px;
	border: solid 2px #FFA2AD;
}

input:focus {
	border: solid 2px #FF6699;
	outline: none;
}

footer {
 	color: #999;
 	text-align: center;
 	margin-bottom: 25px;
 }

a {
	color: #FF85AD;
	text-decoration:none;
}

a:hover {
	color: #FF9FC5;
}

p {
	color: #444;
}

h1 {
	width: 300px;
  	padding-right: 50px;
  	font-size: 25px;
  	font-weight: bold;
  	margin-top: 30px;
  	margin-bottom: 30px;
}

/*----------------------CLASSES----------------------------------------------*/

.box {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	height: 150px;
  	text-align: justify;
}

.about {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
  	text-align: justify;
}

.thumbnailPicture {
	height: 100px;
	width: 28%;
	margin-bottom: 30px;
	float: left;
	clear: left;
	margin-right: 10px;
}

.reviewPicture {
	height: 100%; 
	width: 100%;
	margin-top: 5px;
}

.columnHeader {
	font-size: 22px;
	line-height: 33px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	padding-right: 25px;
}

.sitemapColumn {
	font-size: 22px;
	line-height: 33px;
	display: inline-block;
	vertical-align: top;
	padding-right:15%;
}

.reviewTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
}

.reviewPreview {
	margin-top: 0;
	margin-bottom: 0;
}

.multimediaObject {
	width: 400px;
	height: 200px;
}

.pictureText {
	color: #888;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 20px;
}

/* this makes the popup cool. like totally radikal. */

.pop {
	position:absolute;
	width:800px;
	height:600px;
	z-index: 1;
}

.pop a {
	position: relative; 
	top: 20px; 
	left: 20px
}

/*------------------------IDs---------------------------------------------*/

#contentBackground {
	top: 0;
	background-color: #FFF8FA;
	box-shadow: 15px 15px 15px #333;
}

#contentHeader {
	padding-left: 50px;
	padding-right: 0;
}

#content {
	margin top: 30px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#sitemap {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
}

#topNav {
	width: 750px;
	height: 100px;
}

#search {
	width: 200px;
	margin-left: 175px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#reviewBox {
	width: 600px;
	padding-left: 10%;
}

#arrows {
	margin-left: 45%;
}

/*### NAVIGATION BAR ###*/
#nav {
	width: 700px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	background: linear-gradient(#FF85AD, #FF6699);
	z-index: 2;
	top: 250px;
}

#nav ul {
	list-style: none;
	padding-left: 17%;
	margin: 0px;
}

#nav ul ul {
	padding: 0;
}

#nav ul li {
	display: block; 
	float: left;
	width: 150px;
	text-align: center;
}

#nav li ul {
	display: none;
}

#nav ul li a {
	display: block; 
	padding: 13px 30px 13px 25px; 
	font-size: 20px;
	text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

#nav ul li a:hover {
	background:  #FF85AD;
}

#nav li:hover ul {
	display: block; 
	position: absolute;
}

#nav li:hover li {
	float: none;
}

#nav li:hover a {
	background:  #FF85AD;
}

#nav li:hover li a:hover {
	background:  #FF9FC5;
}

/*### VIDEO/MULTIMEDIA ###*/
#multimedia {
	padding-top: 25px;
	padding-left: 15%;
}

/*### IMAGES ###*/

/*This*/
#headerImage {
	width: 500px;
	height: 220px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

#topImage {
	height: 100%;
	width: 100%;
	margin-top: 30px;
}