
/*-----------------------TAGS--------------------------------------------*/
body {
	background-color: #444;
	margin: 0 auto; 
	color: #333;
	width: 750px;
	font-family: 'Calibri', 'Arial', sans-serif;
}

footer {
 	color: #999;
 	text-align: center;
 	margin-bottom: 25px;
 }

/*### INPUT ###*/

/*These two style the input fields which are used in the search/filter field*/
input {
	height: 25px;
	border-radius: 15px;
	padding-left: 10px;
	border: solid 2px #FFA2AD;
}

/*When the search/filter field is targeted by user...*/
input:focus {
	border: solid 2px #FF6699;
	outline: none;
}

/*### LINKS ###*/

/*These are for general links on the page*/
a {
	color: #FF85AD;
	text-decoration:none;
}

a:hover {
	color: #FF9FC5;
}

/*### TEXT ###*/

p {
	color: #444;
}

h1 {
	width: 300px;
  	padding-right: 50px;
  	font-size: 25px;
  	font-weight: bold;
  	margin-top: 30px;
  	margin-bottom: 30px;
}

/*----------------------CLASSES----------------------------------------------*/

/* This box is used for thumbnails to confine them to a specific space*/
.box {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	height: 150px;
  	text-align: justify;
}

.about {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
  	text-align: justify;
}

/*Used to find reviews with the search function, but also need this to make the thumbnail more compact*/
.reviewPreview {
	margin-top: 0;
	margin-bottom: 0;
}

/*### IMAGES ###*/

.thumbnailPicture {
	height: 100px;
	width: 28%;
	margin-bottom: 30px;
	float: left;
	clear: left;
	margin-right: 10px;
}

.reviewPicture {
	height: 100%; 
	width: 100%;
	margin-top: 5px;
}

/*### REVIEW TEXT ###*/

.reviewTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
}

.pictureText {
	color: #888;
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 20px;
}

/*### ROW POSITIONING ###*/

.rowHeader {
	font-size: 22px;
	line-height: 33px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	padding-right: 25px;
}

.sitemapRow {
	font-size: 22px;
	line-height: 33px;
	display: inline-block;
	vertical-align: top;
	padding-right:15%;
}

/*### POP-UP ###*/
/* this makes the popup cool. like totally radikal. */
.pop {
	position:absolute;
	width:800px;
	height:600px;
	z-index: 1;
}

.pop a {
	position: relative; 
	top: 20px; 
	left: 20px
}

/*------------------------IDs---------------------------------------------*/

/*This styles the background of the content*/
#contentBackground {
	top: 0;
	background-color: #FFF8FA;
	box-shadow: 15px 15px 15px #333;
}

/*Used to style the text describing the site content ie. "Newest Reviews"*/
#contentHeader {
	padding-left: 50px;
	padding-right: 0;
}

/*This is where the content like review, thumbnails etc. will be placed*/
#content {
	margin top: 10;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

/*Positions the search/filter field*/
#search {
	width: 200px;
	margin-left: 190px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*Where the contentHeader and search bar are put together in one box*/
#topNav {
	width: 750px;
	height: 100px;
}

/*The area the sitemap divs will be positioned*/
#sitemap {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
}

/*Inside here is the content of the review itself*/
#reviewBox {
	width: 600px;
	padding-left: 10%;
}

/*Positioning of the navigational arrows on the index and category pages*/
#arrows {
	margin-left: 45%;
}

/*### NAVIGATION BAR ###*/

/*Style for the navbar itself, AKA the pink rounded rectangle*/
#nav {
	width: 700px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	background: linear-gradient(#FF85AD, #FF6699);
	z-index: 2;
	top: 250px;
}

/*The navbar drop down is made using a list structure, these are the styles for each of the levels*/
#nav ul {
	list-style: none;
	padding-left: 17%;
	margin: 0px;
}

#nav ul ul {
	padding: 0;
}

#nav ul li {
	display: block; 
	float: left;
	width: 150px;
	text-align: center;
}

#nav li ul {
	display: none;
}

#nav ul li a {
	display: block; 
	padding: 13px 30px 13px 25px; 
	font-size: 20px;
	text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

#nav ul li a:hover {
	background:  #FF85AD;
}

#nav li:hover ul {
	display: block; 
	position: absolute;
}

#nav li:hover li {
	float: none;
}

#nav li:hover a {
	background:  #FF85AD;
}

#nav li:hover li a:hover {
	background:  #FF9FC5;
}

/*### VIDEO/MULTIMEDIA ###*/
#multimedia {
	padding-top: 25px;
	padding-left: 15%;
}

/*### IMAGES ###*/

/*This is the logo image*/
#headerImage {
	width: 500px;
	height: 220px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

/*This is the top-most picture in a review image*/
#topImage {
	height: 100%;
	width: 100%;
	margin-top: 30px;
}