
/*-----------------------TAGS--------------------------------------------*/
body {
	background-color: #444;
	margin: 0 auto; 
	text-decoration: #333;
	width: 750px;
	font-family: 'Calibri', sans-serif;
}

input {
  height: 25px;
  border-radius: 15px;
  padding-left: 10px;
  border-style: none;
  color: #676767;
}

input:focus {
	border: none;
	outline: none;
}

footer {
 	color: #999;
 	text-align: center;
 	margin-bottom: 25px;
 }
a {
	color: #FF85AD;;
	text-decoration:none;
}

h1 {
	width: 650px;
  	padding-right: 50px;
  	font-size: 25px;
  	font-weight: bold;
  	margin-top: 30px;
  	margin-bottom: 30px;
}

/*----------------------CLASSES----------------------------------------------*/

.box {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	height: 150px;
  	text-align: justify;
}

.sitemap {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
}

.about {
	width: 650px;
  	padding-left: 50px;
  	padding-right: 50px;
  	margin-bottom: 30px;
  	text-align: justify;
}

.thumbnailPicture {
	height: 100px;
	width: 28%;
	margin-bottom: 30px;
	float: left;
	clear: left;
	margin-right: 10px;
}

.reviewPicture {
	height: 100%; 
	width: 100%;
	margin-top: 5px;
}

.sitemapBox {
	padding-top: 20px;
	height: 100%;
	padding-left: 10%;
	width: 100%;
	font-size: 23px;
}

.sitemapColumn {
	display: inline-block;
	vertical-align: top;
	padding-left:5%;
	padding-right:5%;
}

.reviewTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
}

.reviewPreview {
	margin-top: 0;
	margin-bottom: 0;
}

.multimediaObject {
	width: 400;
	height: 200;
}

.pictureText {
	color: #888;
	text-align: center;
	font-size: 12px;
	margin-bottom: 20px;
}

/* this makes the popup cool. like totally radikal. */
.pop {
	position:absolute;
	width:800px;
	height:600px;
	z-index: 9002;
}

.pop a {font-styleposition:relative; top:20px; left:20px}

/*------------------------IDs---------------------------------------------*/

#contentBackground {
	top: 0;
	background-color: #FFF8FA;
	box-shadow: 15px 15px 15px #333;
}

#header {

}

#content {
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#reviewBox {
	width: 600px;
	padding-left: 10%;
}

/*### NAVIGATION BAR ###*/
#nav {
	width: 700px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	background: linear-gradient(#FF85AD, #FF6699);
	z-index: 1;
	top: 250px;
}

#nav ul {
	list-style: none;
	padding-left: 9%;
	margin: 0px;
}

#nav ul ul {
	padding: 0;
}

#nav ul li {
	display: block; 
	float: left;
}

#nav li ul {
	display: none;
}

#nav ul li a {
	display: block; 
	padding: 13px 25px 13px 25px; 
	font-size: 20px;
	text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

#nav ul li a:hover {
	background:  #FF85AD;
}

#nav li:hover ul {
	display: block; 
	position: absolute;
}

#nav li:hover li {
	float: none;
}

#nav li:hover a {
	background:  #FF85AD;
}

#nav li:hover li a:hover {
	background:  #FF9FC5;
}

#search {
	padding-top: 2%;
	padding-left: 8%;
}

/*### VIDEO/MULTIMEDIA ###*/
#multimedia {
	padding-top: 25px;
	padding-left: 15%;
}

/*### IMAGES ###*/
#headerImage {
	width: 500px;
	height: 220px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

#arrows {
	margin-left: 45%;
}